{% extends 'base.html.twig' %}
    
{% block title %}Mon profil{% endblock %}

    {% block head %}
        {{parent()}}
            {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
            <link rel="stylesheet" type="text/css" href="css/util.css">
            <link rel="stylesheet" type="text/css" href="css/main.css">   
            {% endblock %}
    {% endblock %}


{% block body %}

<form method="post">
 
    <div class="container">   

       <h1>Mon Profil</h1>


        {{form_start(editForm)}}
        
                {{ form_row(editForm.Ecolo) }}
                {{ form_row(editForm.Vegan) }}
                {{ form_row(editForm.Econome) }}
                {{ form_row(editForm.Sportif) }}
                {{ form_row(editForm.Fetard) }}
    

            {{form_end(editForm)}}

    </div>

{% endblock %}
