{% extends 'base.html.twig' %}
    
{% block title %}Mon profil{% endblock %}
 
{% block body %}
   {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{message}}
        </div>
    {% endfor %}


<div style="background-image: url('../../img/ciel1.jpg')">


    <div class="container py-5 h-100">
        <div class="p-3" style="background-color:#fc9dd78f;">
        <h1 class="my-5">Mon Profil</h1>
        
            <form method="post">

                        {{form_start(editForm)}}
                        
                            <div style="padding-left:40%;">{{ form_row(editForm.Ecolo) }}</div>
                            <div style="padding-left:40%;">{{ form_row(editForm.Vegan) }}</div>
                            <div style="padding-left:40%;">{{ form_row(editForm.Econome) }}</div>
                            <div style="padding-left:40%;">{{ form_row(editForm.Sportif) }}</div>
                            <div style="padding-left:40%;">{{ form_row(editForm.Fetard) }}</div>
                
                        
                        <div class="my-5" style="padding-left:40%;">{{form_end(editForm)}}</div>
                      
        </div>
    </div>
</div>
{% endblock %}



