<!DOCTYPE html>
<html>
    <head>
   
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}" media="all">
        {% block stylesheets %}{% endblock %}
  
    </head>
    <body>
        
        <header>
        {%block header%}
            
                <nav class="navbar navbar-expand-lg login100">
                    <a class="navbar-brand" href="{{ path('home') }}">WhyNotYou</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    </div>


                    <div class="collapse navbar-collapse justify-content-end">
                    
                    <ul class="navbar-nav ml-auto">

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('show_user', {id:app.user.id}) }}" tabindex="-1" aria-disabled="true">Bienvenue, {{ app.user.username }} !</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}" tabindex="-1" aria-disabled="true">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}" tabindex="-1" aria-disabled="true">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}" tabindex="-1" aria-disabled="true">Créer un compte</a>
                        </li>
                    {% endif %}
                    </ul>
                    </div>
                   

                </nav>
        {%endblock%}
        </header>

        {% block body %}{% endblock %}

        <footer>
        {%block footer%}
        <div id="footer">
            <div class="container-fluid">

                <nav class="navbar navbar-light bg-light"  >
                    <p>
                &copy;2020,
                    </p> 
                    <a class="navbar-head" href="">Politique de confidentialité</a>
                    <a class="navbar-head" href="">Mention legal</a>
                    <a class="navbar-head" href="">A propos</a>
                    <a class="navbar-head" href="">Aide</a>

                </nav>
            </div>
        </div>
    
        {%endblock%}
        </footer>

    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
    
    </body>
</html>
