{% extends 'base.html.twig' %}
    
{% block title %}Espace utilisateur{% endblock %}


    {% block body %}

    <h1>Espace utilisateur</h1>

     
    <br/>
    <h2> Mon profil</h2>
    <ul>

<li>Nom : {{ utilisateur.pseudo | upper }}</li>

<li>Âge : {{ utilisateur.getAge() }} ans</li>


{% if utilisateur.ecolo == 1  %}
   
   <li>Ecolo</li>
{% endif %}

{% if utilisateur.vegan == 1  %}
   
   <li>Vegan</li>
{% endif %}

{% if utilisateur.sportif == 1  %}
   
   <li>Sportif</li>
{% endif %}
        
{% if utilisateur.econome == 1  %}
   
   <li>Econome</li>
{% endif %}
   
{% if utilisateur.fetard == 1  %}

      <li>Fétard</li>
{% endif %}
</ul>
    <a role="button" class="btn btn-outline-info" href="{{ path('edit_user',{ id: utilisateur.id}) }}">Editer mon profil</a>
<hr/>

<h2> Mes préfèrences</h2>

   <ul>
   {%for item in utilisateur.items%}
   <li>
   {{item.name}}
   </li>
   {%endfor%}
   </ul>
 <a role="button" class="btn btn-outline-info" href="{{ path('preference',{ id: utilisateur.id}) }}">Editer mes préférences</a>
<hr/>

<h2> Mes matchs</h2>

   <ul>
   {%for user in match%}
   <li>
   {{user.pseudo}}
   </li>
   {%endfor%}
   </ul>

<button type="submit" class="btn btn-outline-success" href="{{ path('show_user',{ id: utilisateur.id}) }}">Voir mes matchs</button>
        
  
                
   
    


    {% endblock %}



