{% extends 'base.html.twig' %}
    
{% block title %}User interface{% endblock %}

    {% block head %}
        {{parent()}}
  
    {% endblock %}


    {% block body %}
        {{ parent() }}

    <h1>Espace utilisateur</h1>

     
    <br/>

<li>{{ utilisateur.pseudo | upper }}</li>

{% if utilisateur.ecolo == 1  %}
   
   <li>Non au plastique,carton,verre ... </li>
{% endif %}

{% if utilisateur.ecolo == 0  %}
   
   <li>ah non, Brûle planete, Brûle !!! </li>
{% endif %}

{% if utilisateur.vegan == 1  %}
   
   <li>je suis Green, Vegan</li>
{% endif %}

{% if utilisateur.vegan == 0  %}
   
   <li>Hmm... Charaaal!</li>
{% endif %}

{% if utilisateur.sportif == 1  %}
   
   <li>Sport is my life, #healthy</li>
{% endif %}

{% if utilisateur.sportif == 0  %}
   
   <li>En jogging devant la télé</li>
{% endif %}
        
{% if utilisateur.econome == 1  %}
   
   <li>Je suis économe</li>
{% endif %}
     
     
{% if utilisateur.sportif == 0  %}
   
   <li>Panier percé</li>
{% endif %}


        
      
        <li>{{ utilisateur.fetard }}</li>
        <hr/>



        
  
                
    <button type="submit" class="btn btn-outline-success" >Créer</button>
    <a role="button" class="btn btn-outline-info" href="{{ path('edit_user',{ id: utilisateur.id}) }}">Editer mon profil</a>
    <a role="button" class="btn btn-outline-info" href="{{ path('preference',{ id: utilisateur.id}) }}">Editer mes préférences</a>
    <button type="submit" class="btn btn-outline-success" >Voir mes match</button>


    {% endblock %}



